<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TaskBoardProjesi.Properties.Settings.TaskBoardProjectConnectionString"
            connectionString="Data Source=LAPTOP-DE6TC4RE;Initial Catalog=TaskBoardProject;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>